/* *{
  font-family: "Playfair Display", serif;
 font-weight: 500;
} */

html, body {
  background: #221f2e !important;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* .img-section {
   display: grid;
   grid-template-columns: repeat(4,1fr);
   padding: 5px;
} */

.img-container {
   position: relative;
   width: 200px;
   height: 300px;
  
} 

.img-container img {
   width: 100%;
   height: 80%;
   
}

/* Hide scrollbar but keep scroll */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}


@media (max-width: 768px) {
   /* .img-section {
      grid-template-columns: repeat(2,1fr);
   } */

   .panties-title h2{
    padding:10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.5rem;
    border-radius: 5px;
   }
}

@media (max-width: 480px) {

   /* .img-section {
      grid-template-columns: repeat(1,1fr);
      
   } */
   
   .panties-title h2{
    padding:10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.2rem;
    border-radius: 5px;
   }
}